.item {
    display: flex;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    align-items: center;
    align-self: center;
    min-height: 72px;
    width: 100%;
    background: #262626;
    border-radius: 8px;
    padding: 20px;
}

.block {
    display: flex;
    align-items: center;
    gap: 20px;
}

.status {
    position: relative;
    width: 24px;
    height: 24px;
    background: #1E6F9F;
    border-radius: 50%;
}

.statusActive {
    z-index: 23;
}

.statusAfter {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #262626;
    z-index: 20;
    transform: translate(-50%, -50%);
}

.title {
    color: #F2F2F2;
    max-width: 90%;
}

.options {
    min-width: 32px;
}


